<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>新增食物失敗</h1>
    <h3><%=e.message%></h3>
    <br />
    <a href="/food">返回首頁</a>
    <a href="/food/new">返回新增頁面</a>
  </body>
</html>
