<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>錯誤頁面</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>404</h1>
    <h1>Error</h1>
    <h3>請聯絡開發人員協助處理</h3>
    <br />
    <a href="/food">返回首頁</a>
  </body>
</html>
